/*
#bb3535 light red
#7f1b1b dark red
*/
html, body, h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
	font-family: 'exocet', sans-serif;
}
html{
	font-size: 16px;
}
noscript{
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: #bb3535;
}
.ajax-content{
	background-color: black;
	opacity: 0;
}
.ajax-content.visible{
	opacity: 1;
}
.ajax-content .body .nav{
	width: initial;
	float: right;
}
.ajax-content .body .nav .arrow{
	position: relative;
	width: .5rem;
	height: .5rem;
}
.ajax-content .body .nav .arrow:hover{
	cursor: pointer;
}
.ajax-content .body .nav .arrow:hover svg path{
	fill: #7f1b1b;
}
.ajax-content .body .nav .arrow svg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.ajax-content .body{
	margin: .5rem 1rem;
}
.body .row a{
	font-size: .5rem;
	float: left;
	cursor: pointer;
	color: #bb3535;
	text-transform: uppercase;
	text-decoration: underline;
}
.body .row a:hover{
	color: #9c2a2f;
}
.row-head:after{
	display: table;
	clear: both;
	content: " ";
}
.body{
	position: relative;
	margin: 1rem 0rem 0rem;
}
.body:after{
	display: table;
	clear: both;
	content: " ";
}
.body-wrapper{
	position: relative;
}
.loading{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background-color: rgba(1,1,1,1);
	color: #7f1b1b;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	animation: blink 1000ms ease infinite;
	opacity: 1;
	font-size: initial;
}
.loading.hidden{
	opacity: 0;
}
.section-title{
	background-color: #bb3535;
	color: white;
	text-transform: uppercase;
	padding: 0rem 1rem;
	font-size: 1rem;
}
.content{
	position: relative;
	width: 100%;
	background-color: black;
}
.header{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../../assets/imgs/header-bg.png');
	background-size: cover;
	background-repeat: none;
	background-position: 60% 30%;
	background-repeat: no-repeat;
}
.body{
	position: relative;
	color: #bb3535;
}
.logo{
	width: 65%;
	height: 100%;
	background: url('../../assets/imgs/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 30%;
}
.navandslider{
	position: relative;
	display: flex;
	width: 100%;
}
.navandslider:after{
	display: table;
	content: " ";
	clear: both;
}
.nav{
	position: relative;
	display: flex;
	width: 30%;
	float: left;
	color: #bb3535;
	background-color: black;
	opacity: 0;
}
.nav.visible{
	opacity: 1;
}
.nav:after{
	display: table;
	content: " ";
	clear: both;
}
.nav ul{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav .toggle{
	display: none;
}
.nav ul li{
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.nav ul li.animated{
	transition: all 150ms ease;
}
.nav ul li a{
	text-decoration: none;
	color: #bb3535;
	cursor: pointer;
}
.slider{
	opacity: 0;
	position: relative;
	float: left;
	width: 65%;
	overflow: hidden;
	font-size: 0px;
}
.slider.visible{
	opacity: 1;
}
.slider.portrait .sizer img{
	padding-bottom: 150%;
}
.slider .left-shade{
	position: absolute;
	display: flex;
	justify-content: flex-start;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100%;
	background: linear-gradient(180deg, black, transparent);
	z-index: 1;
}
.slider .left-shade ul{
	margin: 0;
	padding: 0;
	font-size: 0px;
}
.slider .left-shade ul li{
	display: inline-block;
	width: .3rem;
	height: .3rem;
	margin-left: .1rem;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}
.slider .left-shade ul li.active{
	background-color: #bb3535;
}
.slider .slides-wrapper{
	position: absolute;
	top: 0;
	left: 0%;
	width: 400%;
	height: 100%;
	display: block;
	transition: all 1000ms ease;
}
.slider .slides-wrapper:after{
	display: table;
	content: " ";
	clear: both;
}
.slider .slide{
	display: block;
	float: left;
	width: 25%;
	height: 100%;
	cursor: pointer;
}
.slider .sizer{
	opacity: 0;
}
.slider .sizer img{
	width: 100%;
	height: 0px;
	padding-bottom: 50%;
}
.slider.portrait .slide.slide1{
	background: url('../../assets/imgs/banner3-sm.png');
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: cover;
}
.slider.portrait .slide.slide2{
	background: url('../../assets/imgs/banner2-sm.png');
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: cover;
}
.slider.portrait .slide.slide3{
	background: url('../../assets/imgs/banner1-sm.png');
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: cover;
}
.slider.portrait .slide.slide4{
	background: url('../../assets/imgs/banner4-sm.png');
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size: cover;
}
.slide.slide1{
	background: url('../../assets/imgs/banner1.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.slide.slide2{
	background: url('../../assets/imgs/banner2.gif');
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide.slide3{
	background: url('../../assets/imgs/banner3.gif');
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}
.slide.slide4{
	background: url('../../assets/imgs/banner4.gif');
	background-position: 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}
.foot{
	opacity: 1;
	width: 100%;
	padding: 0rem 1rem;
	box-sizing: border-box;
	margin-top: 1rem;
}
.foot.visible{
	opacity: 1;
}
.foot svg{
	display: block;
	width: 100%;
	height: 100%;
}
.foot svg path{
	transition: all 500ms ease;
}
g#youtube_1_:hover{
	cursor: pointer;
}
g#youtube_1_:hover path#youtube-icon{
	fill: #e22d27;
}
#facebook:hover{
	cursor: pointer;
	fill: #39579b;
}
#twitter:hover{
	cursor: pointer;
	fill: #21a7e0;
}
g#tumblr:hover{
	cursor: pointer;
}
g#tumblr:hover #path1{
	fill: #ffffff;
}
g#tumblr:hover #path2{
	fill: #99a1ae;
}
g#tumblr:hover #path3{
	fill: #35445b;
}
#youtube-underlay,#instagram-underlay{
	fill: transparent;
	cursor: pointer;
}
g#instagram_1_:hover{
	cursor: pointer;
}
g#instagram_2_ #path1, g#instagram_2_ #path2, g#instagram_2_ #path3{
	opacity: 0;
	cursor: pointer;
}
g#instagram_2_:hover #path1, g#instagram_2_:hover #path2, g#instagram_2_:hover #path3{
	opacity: 1;
}
.nav.mobile{
	display: block;
}
.nav.desktop ul.active{
	height: initial;
	padding: 10px 0px;
}
.row{
	margin-top: 0.5rem;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
}
.row-body{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 301%;
	margin-top: 0.5rem;
	transition: all 1000ms ease;
	overflow: hidden;
}
.row-body:after{
	display: table;
	clear: both;
	content: " ";
}
.product-lockup-wrapper{
	width: 8%;
	float: left;
	position: relative;
}
.row-body .product-lockup{
	width: 100%;
	padding-bottom: 150%;
	display: block;
	position: relative;
	background-color: white;
	overflow: hidden;
	cursor: pointer;
}
.row-body .product-lockup img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.product-lockup .product-overlay{
	position: absolute;
	display: block;
	bottom: 20%;
	z-index: 1;
	box-sizing: border-box;
	font-size: 0rem;
	line-height: 1;
	color: white;
	width: 45%;
	left: -45%;
	transition: all 300ms ease;
}
.product-lockup:hover .product-overlay{
	left: -0.5%;
}
.product-overlay svg{
	width: 100%;
	height: 100%;
}
.product-overlay svg{
	fill: rgba(1,1,1,.8);
}
.product-overlay svg:hover path{
	fill: rgba(1,1,1,.8);
}
.product-overlay svg .then{
	text-decoration: line-through;

}
.product-lockup .product-overlay .product-title{
	display: none;
}
.product-price .then{
	text-decoration: line-through;
}
.row-head .nav{
	display: flex;
	opacity: 1;
}
.row-head{
	line-height: 1;
}
.arrow.disabled path{
	fill: #7f1b1b;
}
.product-lockup img.align-bottom{
	object-fit: cover;
}
.newsletterAndLocation{
	margin: 0rem;
	margin-top: 1rem;
}
.newsletterAndLocation:after{
	content: " ";
	display: table;
	clear: both;
}
.section.newsletter{
	width: 65%;
	float: left;
}
.newsletterAndLocation .section-title{
	background-color: transparent;
	padding: 0rem;
	color: #bb3535;
	text-indent: -0.1rem;
}
.newsletterAndLocation .section-description{
	margin-top: 0.3rem;
}
.newsletterAndLocation span{
	font-size: 0.4rem;
	color: #bb3535;
	display: block;
}
.newsletterAndLocation form{
	display: flex;
	padding: 0.3rem 0rem 0rem;
	box-sizing: border-box;
}
.newsletterAndLocation form #mce-EMAIL{
	background-color: transparent;
	border: 0px;
	border-bottom: 0.05rem solid #bb3535;
	border-radius: 0px;
	color: #bb3535;
	font: inherit;
	font-size: 0.4rem;
	box-sizing: border-box;
	line-height: 1;
	height: 0.8rem;
	padding: 0rem 0.3rem;
}
.newsletterAndLocation form #mce-EMAIL:focus{
	outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #7f1b1b;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #7f1b1b;
   opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #7f1b1b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #7f1b1b;
}
.newsletterAndLocation form .submit{
	width: 0.8rem;
	height: 0.8rem;
	margin-left: 0.2rem;
	cursor: pointer;
}
.newsletterAndLocation form svg{
	width: 100%;
	height: 100%;
}
.section.location{
	width: 35%;
	float: left;
}
.newsletterAndLocation .map{
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	background-color: rgba(255,255,255,.1);
	margin-top: 0.3rem;
	pointer-events: none;
}
.newsletterAndLocation .map iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
}
.foot svg .text rect{
	fill: transparent;
}
.copyright{
	font-size: .3rem;
	text-align: center;
	margin: 1rem 0rem .5rem;
}
.section-title.costumes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sort{
	position: relative;
	font-size: 0.5rem;
	display: flex;
	transition: all 300ms ease;
	padding: 0rem 0.1rem;
	box-sizing: border-box;
	line-height: 1;
	cursor: pointer;
	user-select: none;
		-webkit-user-select: none;
		-o-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
}
.sort .down-arrow{
	width: 0.5rem;
	height: 0.5rem;
	margin-left: 0.1rem;
}
.sort .down-arrow svg{
	width: 100%;
	height: 100%;
}
.sort .down-arrow path{
	fill: white;
}
.sort.open{
	box-shadow: 0px 0.1rem 0.5rem 0.05rem black;
}
.sort.open .sort-options{
	height: 3.5rem;
}
.sort-options{
	font-size: 0rem;
	height: 0rem;
	position: absolute;
	top: 100%;
	right: 0px;
	background-color: #bb3535;
	overflow: hidden;
	transition: all 300ms ease;
}
.sort-options span{
	font-size: 0.5rem;
	display: block;
	line-height: 0.7rem;
	padding: 0rem 0.1rem;
}
.costumes .body{
	display: none;
}
.section-title.product .back{
	position: relative;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}
.section-title.product .back svg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.section-title.product .back path{
	fill: white;
}
.product-ajax .row{
	width: 100%;
	user-select: initial;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-o-user-select: initial;
	-ms-user-select: initial;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.product-ajax .body{
	margin: 0px;
}
.product-ajax .row:after{
	display: table;
	clear: both;
	content: " ";
}
.product-ajax .product-img{
	position: relative;
	width: 50%;
	max-height: 1000px;
	float: left;
	background-color: white;
}
.product-ajax .product-img.mobile{
	display: none;
}
.product-ajax .product-img img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.product-ajax .product-detail{
	box-sizing: border-box;
	width: 50%;
	float: left;
}
.row.visible .product-detail{
	width: 100%;
}
.row.visible .product-img{
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
}
.product-ajax .product-title{
	text-transform: uppercase;
	font-size: 0.8rem;
}
.product-ajax .product-price{
	margin-top: 0.4rem;
	font-size: 0.5rem;
}
.product-ajax .product-price .now{
	margin-left: 0.1rem;
	font-size: 0.8rem;
}
.cta{
	position: relative;
	font-size: 0.6rem;
	background-color: #bb3535;
	color: white;
	display: inline-block;
	padding: 0.1rem 0.2rem;
	line-height: 0.6rem;
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
}
.cta:after{
	position: absolute;
	top: 0px;
	left: 100%;
	width: 0px;
	height: 0px;
	content: " ";
	border-top: 0.4rem solid transparent;
	border-bottom: 0.4rem solid transparent;
	border-left: 0.4rem solid #bb3535;
}
.product-ajax .product-description{
	font-size: 0.4rem;
	margin-top: 0.4rem;
	line-height: 0.5rem;
}
.product-ajax .product-description span{
	display: block;
	margin-top: 0.4rem;
}
.section{
	margin-top: 1rem;
}
.section.review .section-title{
	padding: 0px;
	background-color: transparent;
	color: #bb3535;
}
.section.review .reviews{
	color: #7f1b1b;
	font-size: 0.5rem;
	line-height: 1rem;
}
.write-review span{
	font-size: 0.6rem;
	display: block;
	margin-top: 1rem;
}
.write-review .textarea-wrapper{
	position: relative;
	width: 100%;
	height: 0%;
	padding-bottom: 30%;
	background-color: #bb3535;
	margin-top: 0.3rem;
}
.write-review textarea{
	font: inherit;
	font-size: 0.5rem;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	resize: none;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: transparent;
	color: white;
	box-sizing: border-box;
	padding: 0.1rem;
}
.write-review textarea::-webkit-input-placeholder{
	color: white;
}
.write-review textarea::-moz-placeholder{
	color: white;	
}
.write-review textarea:-ms-input-placeholder{
	color: white;		
}
.write-review textarea:-moz-placeholder{
	color: white;
}
.write-review textarea:focus{
	outline: none;
}
.product-ajax .foot{
	padding: 0px;
}
.write-review{
	font-size: 0px;
}
.write-review .cta{
	margin-top: 0.3rem;
}
@media(max-width: 768px){
	.section-title.product{
		padding: 0px;
	}
	.section-title.product .back{
		width: 1.5rem;
		height: 1.5rem;
		cursor: pointer;
	}
	.ajax-content.product .body{
		background-color: transparent;
	}
	.ajax-content.product{
		background-color: black;
	}
	.section{
		margin-top: 2rem;
	}
	.section-title.costumes{
		align-items: baseline;
	}
	.sort{
		font-size: 0.7rem;
	}
	.sort.open .sort-options{
		height: 4.5rem;
	}
	.sort .sort-options span{
		font-size: 0.7rem;
		line-height: 0.9rem;
	}
	.sort .down-arrow{
		width: 0.7rem;
		height: 0.7rem;
		margin-left: 0.2rem;
	}
	.copyright{
		font-size: .4rem;
		margin: 2rem 0rem 1rem;
	}
	.slider .left-shade ul{
		width: 0rem;
	}
	.slider .left-shade ul li{
		width: .5rem;
		height: .5rem;
		margin: 0rem;
		margin-top: .5rem;
	}
	.section.location{
		width: 40%;
	}
	.section.newsletter{
		width: 60%;
	}
	.foot{
		padding: 0rem;
		margin-top: 2rem;
	}
	.newsletterAndLocation{
		margin-top: 2rem;
	}
	.product-lockup .product-overlay{
		left: -0.5%;
	}
	.product-lockup-wrapper{
		width: 100%;
	}
	.row-body{
		width: 600%;
	}
	.row-body{
		justify-content: center;
	}
	.row-body .product-lockup-wrapper:nth-child(-n+2){
		display: block;
	}
	.ajax-content .body .nav{
		display: flex;
		background-color: white
	}
	.ajax-content .body .nav .arrow{
		width: 36px;
		height: 36px;
	}
	.ajax-content .body{
		margin: 0 0;
		padding: 0.5rem 0;
		background-color: white;
	}
	.body .row a{
		font-size: 36px;
		text-decoration: none;
	}
	.body{
		margin: 0;
	}
	.section-title{
		display: block;
		color: white;
		font-size: 48px;
		line-height: 1;
		background-color: #bb3535;
		padding: 10px 0px;
	}
	.slider .sizer img{
		padding-bottom: 70%;
	}
	.slider .left-shade{
		position: absolute;
		top: 0px;
		width: 40px;
		height: 100%;
		align-items: center;
		background: linear-gradient(90deg, black, transparent);
	}
	.header .logo{
		width: 70%;
	}
	.navandslider{
		flex-direction: column;
	}
	.slider{
		width: 100%;
		order: 1;
	}
	.nav{
		display: flex;
	}
	.nav.desktop{
		display: block;
		order: 0;
		width: 100%;
		background-color: #9c2a2f;
		overflow: hidden;
		user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
	}
	.nav.desktop ul{
		padding: 10px 0px;
		height: 0px;
		padding: 0px;
	}
	.nav.desktop ul li{
		display: flex;
		align-items: center;
		line-height: 1;
		height: 50px;
		font-size: 30px;
	}
	.nav.desktop ul li a{
		text-decoration: none;
		color: white;
	}
	.nav.desktop .toggle .hamburger{
		position: absolute;
		display: block;
		right: 10px;
		top: 10px;
		width: 48px;
		height: 10px;
		background-color: white;
	}
	.nav.desktop .toggle .hamburger:after{
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 19px;
		background-color: white;
	}
	.nav.desktop .toggle .hamburger:before{
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 38px;
		background-color: white;
	}
	.nav.desktop .toggle{
		display: block;
		position: relative;
		cursor: pointer;
	}
}
@media(max-width: 720px){
	.cta{
		position: relative;
		font-size: 0.7rem;
		background-color: #bb3535;
		color: white;
		display: inline-block;
		padding: 0.3rem 0.3rem;
		line-height: 0.7rem;
		text-decoration: underline;
		cursor: pointer;
		user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
	}
	.cta:after{
		position: absolute;
		top: 0px;
		left: 100%;
		width: 0px;
		height: 0px;
		content: " ";
		border-top: 0.65rem solid transparent;
		border-bottom: 0.65rem solid transparent;
		border-left: 0.7rem solid #bb3535;
	}
	.product-ajax .product-price{
		margin-top: 0.4rem;
		font-size: 0.7rem;
	}
	.product-ajax .product-price .now{
		margin-left: 0.1rem;
		font-size: 1rem;
	}
	.product-ajax .product-title{
		font-size: 1rem;
	}
	.product-ajax .product-description{
		font-size: 0.6rem;
		margin-top: 0.4rem;
		line-height: 0.7rem;
	}
	.product-ajax .product-description span{
		margin-top: 1rem;
	}
	.foot svg #follow-us{
		fill: white;
	}
	.foot svg .text rect{
		fill: #bb3535;
	}
	.newsletterAndLocation .section-title{
		background-color: #bb3535;
		color: #ffffff;
	}
	.newsletterAndLocation .section-description{
		margin-top: 1rem;
	}
	.newsletterAndLocation .map{
		margin-top: .5rem;
		padding-bottom: 50%;
	}
	.newsletterAndLocation form{
		padding-top: 0rem;
		margin-top: .5rem;
	}
	.section.newsletter{
		width: 100%;
	}
	.section.location{
		margin-top: 2rem;
		width: 100%;
	}
	.newsletterAndLocation span{
		font-size: .7rem;
	}
	.newsletterAndLocation form #mce-EMAIL{
		font-size: .7rem;
		height: 1.4rem;
		padding: 0rem .7rem;
	}
	.newsletterAndLocation form .submit{
		width: 1.4rem;
		height: 1.4rem;
		margin-left: .5rem;
	}
}
@media(max-width: 540px){
	.section-title.product .back{
		width: 2rem;
		height: 2rem;
	}
	.write-review textarea{
		font-size: 0.8rem;
	}
	.write-review span{
		font-size: 1rem;
		margin-top: 1.5rem;
	}
	.section.review .reviews{
		font-size: 0.8rem;
	}
	.product-ajax .product-description{
		font-size: 1rem;
		margin-top: 1rem;
		line-height: 1.2rem;
	}
	.cta{
		position: relative;
		font-size: 1rem;
		background-color: #bb3535;
		color: white;
		display: inline-block;
		padding: 0.3rem 0.5rem;
		line-height: 1rem;
		text-decoration: underline;
		cursor: pointer;
		user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
	}
	.cta:after{
		position: absolute;
		top: 0px;
		left: 100%;
		width: 0px;
		height: 0px;
		content: " ";
		border-top: 0.8rem solid transparent;
		border-bottom: 0.8rem solid transparent;
		border-left: 0.8rem solid #bb3535;
	}
	.product-ajax .product-price{
		display: block;
		position: relative;
		margin-top: 0px;
		margin-bottom: 0.5rem;
		font-size: 1rem;
	}
	.product-ajax .product-price .now{
		margin-left: 0.1rem;
		font-size: 1.5rem;
	}
	.product-ajax .row{
		position: relative;
		display: block;
	}
	.product-ajax .product-title{
		font-size: 1.5rem;
	}
	.product-ajax .product-img{
		display: none;
	}
	.product-ajax .product-img.mobile{
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.product-ajax .product-img.mobile:after{
		display: table;
		clear: both;
		content: " ";
	}
	.product-ajax .product-detail{
		width: 100%;
		padding: 0px;
	}
	.section{
		margin-top: 3rem;
	}
	.section-title.costumes{
		display: block;
		padding: 0.5rem 0rem;
	}
	.sort{
		display: flex;
		font-size: 1rem;
		margin-top: 0.5rem;
	}
	.sort.open{
		box-shadow: none;
	}
	.sort .down-arrow{
		width: 1rem;
		height: 1rem;
		margin-left: 0.2rem;
	}
	.sort-by{
		position: relative;
		margin-left: 0.2rem;
	}
	.sort .sort-options{
		left: 0px;
		right: initial;
	}
	.sort.open .sort-options{
		height: 7.5rem;
	}
	.sort .sort-options span{
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 0rem 0rem;
	}
	.copyright{
		font-size: .5rem;
		margin: 3rem 0rem 1.5rem;
	}
	.foot{
		padding: 0rem;
		margin-top: 3rem;
	}
	.newsletterAndLocation{
		margin-top: 3rem;
	}
	.section.location{
		margin-top: 3rem;
	}
	.body .row a{
		font-size: 30px;
		text-decoration: none;
	}
	.ajax-content .body .nav .arrow{
		width: 30px;
		height: 30px;
	}
	.row-body{
		width: 1200%;
	}
	.header .logo{
		width: 75%;
	}
	.section-title{
		font-size: 36px;
		padding: 10px 0px;
	}
	.nav.desktop .toggle .hamburger{
		position: absolute;
		display: block;
		right: 10px;
		top: 10px;
		width: 36px;
		height: 8px;
		background-color: white;
	}
	.nav.desktop .toggle .hamburger:after{
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 14px;
		background-color: white;
	}
	.nav.desktop .toggle .hamburger:before{
		content: " ";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 28px;
		background-color: white;
	}
	.slider .left-shade ul li{
		width: 1rem;
		height: 1rem;
		margin-top: .5rem;
	}
}
@keyframes blink{
    0% 100% {color: #bb3535;}
    50% {color: transparent;}
}























































